{% extends "base.html" %}
{% block content %}
    <!-- SPLASH HEADER -->
    <div class="splash-header">
        <div class="splash-header-content">
            <div class="main-splash-header">
                <div class="position-relative slide-up">
                    <h1>We Are All About Clean</h1> 
                    <h3>We want to provide affordable technology that can help individuals and our society be clean.</h3>
                </div>
            </div>
        </div> 
    </div>

    <!-- ABOUT US -->
    <div class="content-container join">
        <div class="container">
            <div class="row">
                <div class="col-md-6 slide-left about">
                    <div class="about-us">
                        <h1>Evan Zhang</h1> 
                        <h3>CTO</h3>
                    </div>
                    <img src="{{ url_for('static', filename='img/evanpic.jpg') }}"> 
                    <p> Hello there, my name is Evan Zhang, and welcome to SMath Tutors! 
                        I am truly honored to be one of your presidents for this program. 
                        I've always had a passion for tutoring ever since I was in middle school. 
                        I've worked as part of a Summer Mathcounts Tutoring Program for the last 3 years, and led many other tutoring programs. 
                        My areas of expertise are math, biology, and computer science (C++/Python), while also knowing a bit of physics. 
                        In my free time, I play ping pong and listen to music. I am really excited to work with all of you guys!</p>
                </div>
                <div class="col-md-6 slide-right about">
                    <div class="about-us">
                        <h1>Evan Zhang</h1> 
                        <h3>CTO</h3>
                    </div>
                    <img src="{{ url_for('static', filename='img/evanpic.jpg') }}"> 
                    <p> Hello there, my name is Evan Zhang, and welcome to SMath Tutors! 
                        I am truly honored to be one of your presidents for this program. 
                        I've always had a passion for tutoring ever since I was in middle school. 
                        I've worked as part of a Summer Mathcounts Tutoring Program for the last 3 years, and led many other tutoring programs. 
                        My areas of expertise are math, biology, and computer science (C++/Python), while also knowing a bit of physics. 
                        In my free time, I play ping pong and listen to music. I am really excited to work with all of you guys!</p>
                </div>
                <div class="col-md-6 slide-left about more-top-padding">
                    <div class="about-us">
                        <h1>Evan Zhang</h1> 
                        <h3>CTO</h3>
                    </div>
                    <img src="{{ url_for('static', filename='img/evanpic.jpg') }}"> 
                    <p> Hello there, my name is Evan Zhang, and welcome to SMath Tutors! 
                        I am truly honored to be one of your presidents for this program. 
                        I've always had a passion for tutoring ever since I was in middle school. 
                        I've worked as part of a Summer Mathcounts Tutoring Program for the last 3 years, and led many other tutoring programs. 
                        My areas of expertise are math, biology, and computer science (C++/Python), while also knowing a bit of physics. 
                        In my free time, I play ping pong and listen to music. I am really excited to work with all of you guys!</p>
                </div>
                <div class="col-md-6 slide-right about more-top-padding">
                    <div class="about-us">
                        <h1>Evan Zhang</h1> 
                        <h3>CTO</h3>
                    </div>
                    <img src="{{ url_for('static', filename='img/evanpic.jpg') }}"> 
                    <p> Hello there, my name is Evan Zhang, and welcome to SMath Tutors! 
                        I am truly honored to be one of your presidents for this program. 
                        I've always had a passion for tutoring ever since I was in middle school. 
                        I've worked as part of a Summer Mathcounts Tutoring Program for the last 3 years, and led many other tutoring programs. 
                        My areas of expertise are math, biology, and computer science (C++/Python), while also knowing a bit of physics. 
                        In my free time, I play ping pong and listen to music. I am really excited to work with all of you guys!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
