<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143387305-3"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-143387305-3');
        </script>

        <!-- FAVICONS -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/newsojicon.png') }}">

        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- STYLESHEETS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

        <!-- SEO STUFF -->
        {% if title %}
            <title> Soji | {{title}} </title>
        {% else %}
            <title> Soji </title>
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Soji's Official Website">
        <link rel="canonical" href="https://soji.github.io/">
        <meta property="og:title" content="Home | Soji">
        <meta property="og:description" content="Find out more about Soji and its products.">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://soji.github.io/">
        <meta property="og:image" content="https://ironicninja.github.io/soji.github.io/images/newsojicon.png">
    </head>
    <body>
        <!-- NAVBAR -->
        <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
            <div class="container">
                <!-- Left Side (Branding, Logo) -->
                <a class="navbar-brand d-flex align-items-center" href="index.html">
                    <img src="{{ url_for('static', filename='img/newsojicon.png') }}" alt="logo"> <span>Soji</span>
                </a>
                <!-- Collapsible Navbar for Small Screens -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    <!-- ml-auto for Right justify, mr-auto for Left justify -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item {{'active' if title|string() == 'Home'}}">
                            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li class="nav-item {{'active' if title|string() == 'About'}}">
                            <a class="nav-link" href="{{ url_for('about') }}">About</a>
                        </li>
                        <li class="nav-item {{'active' if title|string() == 'Products'}}">
                            <a class="nav-link" href="{{ url_for('products') }}">Our Products</a>
                        </li>
                        <li class="nav-item {{'active' if title|string() == 'Contact'}}">
                            <a class="nav-link" href="{{url_for('contact')}}">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}{% endblock %}

        <!-- FOOTER -->
        <footer class="bg-light p-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <a class=" logo-footer" href="{{ url_for('home') }}">
                            <img alt="logo" class="float-left" width="100" src="{{ url_for('static', filename='img/newsojicon.png')}}">
                            <p class="h4 d-block ml-2" style="width: auto !important;">Soji</p>
                        </a>                        
                    </div>
                    <div class="col-md-3">
                        <h6 class="h3">Quick Links</h6>
                        <a href="{{ url_for('home') }}">Home</a>
                        <br>
                        <a href="{{ url_for('about') }}">About</a>
                        <br>
                        <a href="{{ url_for('products') }}">Our Products</a>
                        <br>
                        <a href="{{ url_for('contact') }}">Contact Us</a>
                        <br>
                        <a target="_blank" href="https://forms.gle/yW6UhGAdCRcNgjsK6">Join Us!</a>
                    </div>
                    <div class="col-md-3">
                        <a target="_blank" href="https://github.com/IronicNinja/soji-website"><i class="fab fa-github fa-3x"></i></a>
                        <a target="_blank" href="mailto:sojiremora@gmail.com"><i class="fas fa-envelope fa-3x"></i></a>
                    </div>
                </div>
            </div>
        </footer>

        <script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/stripe.js') }}"></script>
    </body>
</html>
