{% extends "base.html" %}
{% block content %}
    <div class="splash-header">
        <div class="splash-header-content">
            <div class="main-splash-header">
                <div class="position-relative slide-up">
                    <h1>Questions? Comments?</h1> 
                    <h3> We would love to hear from you. </h3>
                </div>
            </div>
        </div> 
    </div>

    <div class="content-container">
        <div class="container">
            <div class="row">
                <div class="col-md-6 slide-left">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <div class="form-row">
                            <div class="col">
                                {{ form.first_name.label(class="form-control-label") }}

                                {% if form.first_name.errors %}
                                    {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                                    <div class = "invalid-feedback">
                                        {% for error in form.first_name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.first_name(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="col">
                                {{ form.last_name.label(class="form-control-label") }}

                                {% if form.last_name.errors %}
                                    {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                                    <div class = "invalid-feedback">
                                        {% for error in form.last_name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.last_name(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group form-spacing">
                            {{ form.email.label(class="form-control-label") }}
                            
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class = "invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.subject.label(class="form-control-label") }}
                            
                            {% if form.subject.errors %}
                                {{ form.subject(class="form-control form-control-lg is-invalid") }}
                                <div class = "invalid-feedback">
                                    {% for error in form.subject.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.subject(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.message.label(class="form-control-label") }}
                            
                            {% if form.message.errors %}
                                {{ form.message(class="form-control form-control-lg is-invalid") }}
                                <div class = "invalid-feedback">
                                    {% for error in form.message.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.message(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group centered-items">
                            {{ form.newsletter.label(class="form-check-label") }}
                            <span class="left-spacing">{{ form.newsletter(class="form-check-input") }}</span>
                        </div>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-info") }}
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <h1>WIP FAQ Section</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}