{% extends "base.html" %}
{% block content %}
    <div class="splash-header">
        <div class="splash-header-content">
            <div class="main-splash-header">
                <div class="position-relative slide-up">
                    <h1>Our Products</h1> 
                    <h3>We provide a plethora of products for customers to enjoy.</h3>
                </div>
            </div>
        </div> 
    </div>

    <div class="content-container remora">
        <div class="container">
            <div class="row">
                <div class ="col-md-12">
                    <h2> Remora Shower Caddy </h2>
                </div>
                <div class="col-md-4 slide-left pic-resize">
                    <img src="{{ url_for('static', filename='img/remoralogo.png') }}">
                </div>
                <div class="col-md-4 slide-up pic-resize">
                    <img src="{{ url_for('static', filename='img/caddy1.png') }}">
                </div>
                <div class="col-md-4 slide-right pic-resize">
                    <img src="{{ url_for('static', filename='img/caddy2.png') }}">
                </div>
            </div>
            <p class="caddy-text"> Remora is an unconventional and innovative shower caddy that brings both convenience and 
                utility. When using it, simply unfold at the hinge and connect the 2 suction cups onto the bathroom or 
                shower wall for easy access to personal items. This keeps the shower caddy from collecting water and 
                helps avoid direct contact with the unsanitary bathroom floor. Due to its compact size, 
                Remora makes an ideal companion for traveling, not just showering, and can be utilized for 
                a variety of situations and locations. Dividers can be provided to allow the consumer to 
                sectionalize their caddy in a customizable manner.
            </p>
            <button class="button is-primary" id="submitBtn">Purchase!</button>
        </div>
    </div>
{% endblock %}