{% extends "base.html" %}
{% block content %}
    <!-- SPLASH HEADER -->
    <div class="splash-header">
        <div class="splash-header-content">
            <div class="hero-text">
                <div class="position-relative slide-up">
                    <h1 class="original-items">Clean, Connect, Change</h1>
                    <div class="centered-items">
                        <h1> Clean,</h1>
                        <h1> Connect,</h1>
                        <h1> Change </h1>
                    </div>
                    <a target="_blank" class="btn join-btn btn-success btn-block" id="myBtn" onclick="openForm()">
                        <span>Sign up for our newsletter! </span>
                    </a>
                </div>
            </div>
            <img class="large-icon" src="{{ url_for('static', filename='img/newsojicon.png') }}">
        </div> 
    </div>

    <!-- Popup Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onclick="closeForm()">&times;</span>
            <div class="container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div class="form-row">
                        <div class="col">
                            {{ form.first_name.label(class="form-control-label") }}

                            {% if form.first_name.errors %}
                                {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                                <div class = "invalid-feedback">
                                    {% for error in form.first_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.first_name(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="col">
                            {{ form.last_name.label(class="form-control-label") }}

                            {% if form.last_name.errors %}
                                {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                                <div class = "invalid-feedback">
                                    {% for error in form.last_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.last_name(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group form-spacing">
                        {{ form.email.label(class="form-control-label") }}
                        
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class = "invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Description Section -->
    <div class="content-container what-we-are">
        <div class="container">
            <div class="row">
                <h2>What is Soji and What Do We Offer?</h2>
                <p>Soji is a company dedicated to creating tools and technologies to enable others to stay clean. 
                    We currently offer one product, Remora, which is an unconventional and innovative shower caddy that 
                    brings both convenience and utility. If you would like to learn more, please click the "Our Products" tab!
                </p>
            </div>
        </div> 
    </div> 

    <!-- WHY JOIN/WHAT WE OFFER -->
    <div class="content-container offers">
        <div class="container"> 
            <div class="row">
                <div class="col-md-12">
                    <h2>Why Choose Our Product?</h2>
                </div>
                <div class="col-md-4 grow-animation">
                    <i class="fas fa-handshake fa-4x"></i>
                    <h3>Reliability</h3>
                    <p>We ensure that our products are always reliable.</p>
                </div>
                
                <div class="col-md-4 grow-animation delay-150">
                    <i class="fas fa-check fa-4x"></i>
                    <h3>Convenience</h3>
                    <p>We ensure that our products will provide you with convenience and utility.</p>
                </div>

                <div class="col-md-4 grow-animation delay-300">
                    <i class="fas fa-coins fa-4x"></i>
                    <h3>Affordability</h3>
                    <p>We ensure that our products are easily affordable for any interested consumer.</p>
                    
                </div>
            </div>
        </div>
    </div>
    
    <!-- JOIN/BECOME A SPEAKER -->
    <div class="content-container join">
        <div class="container">
            <div class="row">
                <div class="col-md-6 slide-left">
                    <h2>Join Us Today!</h2>
                    <p>Like what you see? If you are interested in our company, whether that be as a product consumer or as an investor, great!</p> 
                    <p>Simply fill out the interest form below, and we'll be in touch with you shortly.</p>
                    <a target="_blank" class="btn join-btn btn-success btn-block" id="myBtn" onclick="openForm()">
                        <span> Join! </span>
                    </a>
                </div>
                <div class="col-md-6 slide-right mt-5">
                    <h2>Want to donate and help us?</h2>
                    <p>Do you want to help us succeed? If so,</p>
                    <a class="btn join-btn btn-success btn-block" href="{{url_for('contact')}}">
                        <span> Contact Us! </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}