<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- FAVICONS -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/stocklogo.png') }}">

        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">

        <!-- STYLESHEETS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

        <!-- SEO STUFF -->
        <title> Stock Scraper </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Small web tool to help download all stock data into one zipped folder.">
        <meta property="og:title" content="Stock Scraper">
        <meta property="og:description" content="Stock scraping tool.">
        <meta property="og:type" content="website">
    </head>
    <body>
        <div class="content-container">
            <div class="container stocks">
                <div class="row">
                    <div class="col-md-6 slide-left">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            <div class="form-row">
                                {{ form.stocks.label(class="form-control-label") }}

                                {% if form.stocks.errors %}
                                    {{ form.stocks(class="form-control form-control-lg is-invalid") }}
                                    <div class = "invalid-feedback">
                                        {% for error in form.stocks.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.stocks(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-row form-spacing">
                                <div class="col">
                                    {{ form.date_start.label(class="form-control-label") }}

                                    {% if form.date_start.errors %}
                                        {{ form.date_start(class="form-control form-control-lg is-invalid") }}
                                        <div class = "invalid-feedback">
                                            {% for error in form.date_start.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.date_start(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="col">
                                    {{ form.date_end.label(class="form-control-label") }}
                                
                                    {% if form.date_end.errors %}
                                        {{ form.date_end(class="form-control form-control-lg is-invalid") }}
                                        <div class = "invalid-feedback">
                                            {% for error in form.date_end.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.date_end(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group form-spacing">
                                {{ form.submit(class="btn btn-outline-info") }}
                            </div>
                            <a href="{{url_for('downloading')}}">Download All!</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="content-container offers">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 slide-up">
                        <h2> How do you use this tool? </h2>
                        <p>1. Input a list of stocks (abbreviated form) that you want downloaded, e.g. GOOG, FB, AAPL.
                            You <b>MUST</b> use the correctly spelled abbreviation.
                        </p>
                        <p>
                            2. Add the start date and end date in the format year-month-date, e.g. 2015-01-13 or 2018-11-02.
                        </p>
                        <p>
                            3. Click Submit. 
                            If you inputted the date in an incorrect format or the start date after the end date, you
                            will get an error message. 
                            If you input incorrectly spelled stocks, there will be an error message telling you
                            which stocks were not found. You may still download the zip folder as it will consist of all of the correctly
                            spelled stocks. 
                            If everything is inputted correctly, you should receive a confirmation message. 
                        </p>
                        <p>
                            4. Click Download All. This should create a zipped folder called "stocks.zip" which contains all your stocks in csv format!
                        </p>
                        <br>
                        <p> 
                            <b>Please note: </b> if your start date is before a company's initial public offering, you will receive data that starts
                            from the company's IPO. Be careful because this can cause mismatches in the lengths of your csv files. The program should
                            be able to catch if your state date is before the company's IPO; however, in rare circumstances (where your start date
                            is within a week of the IPO), it may not be able to do so. I would suggest checking the length of each csv with
                            a program before using them.
                        </p>
                        <br>
                        <p>
                            If you have any other questions or encounter issues, please email me at <a href="mailto:zhang21evan@ncssm.edu">zhang21evan@ncssm.edu</a>. 
                            <br>If you would like to support me, please check out my <a href="https://github.com/IronicNinja">Github Account</a>.    
                            <br>The code for this project is <a href="https://github.com/IronicNinja/stock-scraper-multi"> open source here</a>.             
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
        <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
  