:root{
    --main-color:#456677;
    --secondary-color: #9dbebb;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}
.bg-light {
    background-color: whitesmoke !important;
}

/* CONTENT - SECTION 1 */
.content-container {
    background-color: white;
    padding: 2.5rem 15px;
}
.content-container.offers {
    background-color: whitesmoke;
}
.content-container h2 {
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 3rem;
}
.content-container h2::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    height: 7.5px;
    width: 150px;
    background-color: var(--main-color);
}
.content-container p {
    font-size: 1.3rem;
    line-height: 1.6;
}

/* FORM SPACING */
.form-spacing{
    padding-top: 15px;
}

/* ANIMATIONS */
.grow-animation {
    opacity: 0;
    -moz-transition: all 1000ms ease-out;
    -webkit-transition: all 1000ms ease-out;
    -o-transition: all 1000ms ease-out;
    transition: all 1000ms ease-out;
    transform: scale(0.1, 0.1);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.do-grow-animation {
    opacity: 1;
    transform: scale(1, 1);
}

.slide-up {
    opacity: 0;
    -moz-transition: all 750ms ease-out;
    -webkit-transition: all 750ms ease-out;
    -o-transition: all 750ms ease-out;
    transition: all 750ms ease-out;
    transform: translateY(100px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.do-slide-up {
    opacity: 1;
    transform: translateY(0);
}

.slide-left {
    opacity: 0;
    -moz-transition: all 1000ms ease-out;
    -webkit-transition: all 1000ms ease-out;
    -o-transition: all 1000ms ease-out;
    transition: all 1000ms ease-out;
    transform: translateX(-500px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.do-slide-left {
    opacity: 1;
    transform: translateX(0);
}

.slide-right {
    opacity: 0;
    -moz-transition: all 1000ms ease-out;
    -webkit-transition: all 1000ms ease-out;
    -o-transition: all 1000ms ease-out;
    transition: all 1000ms ease-out;
    transform: translateX(500px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.do-slide-right {
    opacity: 1;
    transform: translateX(0);
}

.delay-150 {
    transition-delay: 150ms;
}
.delay-300 {
    transition-delay: 300ms;
}